  <div>
    <h2>Account information</h2>
  </div>
<header class="d-flex justify-content-between">
</header>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="standard-card user-info">

      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
      <h5>Change password:</h5>
      <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
    </div>
  </div>
  <div class="form-actions button-flex-seperator">
    <%= link_to :back, class: 'button-rounded-green' do %>
      <i class="fa-solid fa-arrow-left" style="color: #ffffff;"></i>
    <% end %>
    <div>
      <%= link_to destroy_user_session_path, data: {turbo_method: :delete }, class: 'd-flex button-standard' do %>
        <span class="button-text-space">log out</span>
        <i class="fa-solid fa-door-open" style="color: #ffffff;"></i>
      <% end %>
    </div>
    <button type="submit" class="d-flex button-standard">
      <span class="button-text-space">Save</span>
      <i class="fa-regular fa-floppy-disk" style="font-size: x-large; color: #ffffff;"></i>
    </button>
  </div>
<% end %>
<div style="text-align: center;">
  <p>Unhappy?</p>
  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, class: 'button-standard-red', method: :delete %>
</div>
