<%# sidescroll class only used for the side scroll effect in daily meal plan creation %>
<div class="card-meal-for-daily-plan standard-card sidescroll"
  data-action="click->select-meal-for-daily-meal#select"
  data-select-meal-for-daily-meal-target="card"
  data-live-update-nutritions-target="mealCard"
  data-mealid="<%= meal.id %>">
  <%# Meal image %>
  <% if meal.photo.key.nil? %>
    <%= image_tag "default_recipe.png" %>
  <% else %>
    <%= cl_image_tag meal.photo.key.to_s %>
  <% end %>
  <div class="meal-info">
    <h5><%= meal.name %></h5>
  </div>
  <div class="meal-nutritionfacts-create">
    <div class="circle-and-number-container">
      <div class="circle">
        <div class="white-inner-circle"></div>
      </div>
      <p class="nutrition-data" id="calories"><%= meal.calculate_nutrition("calories") %></p>
    </div>
    <div class="circle-and-number-container">
      <div class="circle">
        <div class="white-inner-circle"></div>
      </div>
      <p class="nutrition-data" id="fats"><%= meal.calculate_nutrition("fats") %></p>
    </div>
    <div class="circle-and-number-container">
      <div class="circle">
        <div class="white-inner-circle"></div>
      </div>
      <p class="nutrition-data" id="satu-fats"><%= meal.calculate_nutrition("satu-fats") %></p>
    </div>
    <div class="circle-and-number-container">
      <div class="circle">
        <div class="white-inner-circle"></div>
      </div>
      <p class="nutrition-data" id="carbs"><%= meal.calculate_nutrition("carbs") %></p>
    </div>
    <div class="circle-and-number-container">
      <div class="circle">
        <div class="white-inner-circle"></div>
      </div>
      <p class="nutrition-data" id="protein"><%= meal.calculate_nutrition("protein") %></p>
    </div>
  </div>
</div>
