<%= simple_form_for(planning) do |f| %>
  <div class="form-inputs">
    <%= f.input :daily_plan_id, collection: current_user.daily_plans, class: 'standard-input', value_method: :id %>
    <%= f.input :date, as: :string, class: "input-small"%>
  </div>
  <div class="form-actions button-flex-seperator">
    <%# <%= f.input :start_time, input_html: { }, as: :string %>
    <%# <%= f.input :end_time, input_html: { }, as: :string %>
    <%= link_to daily_plans_path, class: 'button-rounded-green', data_action: "click->planning-calendar#hide" do %>
      <i class="fa-solid fa-arrow-left fa-solid fa-xmark" style="color: #ffffff;"></i>
    <% end %>
    <div class="checkbox-button">
      <%= f.input :exercise, as: :boolean, input_html: {class: 'button-text-space'} %>
            <i class="fa-solid fa-dumbbell" style="font-size: x-large; color: #ffffff;"></i>
    </div>
    <button type="submit" class="d-flex button-standard">
      <span class="button-text-space">Save</span>
      <i class="fa-regular fa-floppy-disk" style="font-size: x-large; color: #ffffff;"></i>
    </button>
  </div>
<% end %>
