<h2>My plans</h2>
<div data-controller="planning-calendar">
  <div class="standard-card">
    <%= week_calendar(number_of_weeks: 2) do |date| %>
      <%= date.day %>
      <%# Is there planning created? %>
      <%= @planning %>
      <%= raise %>
      <%# ------- %>
    <% end %>
  </div>
  <%# Planning form %>
  <div class="d-flex mb-3 d-none" data-planning-calendar-target="form">
    <%= render "planning_form", planning: @planning %>
  </div>
</div>
<%# Add new daily plan %>
<div class="d-flex mb-3">
  <%= link_to "Add new Daily meal", new_daily_plan_path, class: "button-standard" %>
</div>
<%# List all daily plans %>
<div class="flex-container">
  <% @daily_plans.each do |plan| %>
    <%= render "plan_card", plan: plan %>
  <% end %>
</div>
