<div data-controller="live-update-nutritions adding-delete-section-to-daily-plan">
  <%= simple_form_for(@daily_plan) do |f| %>
  <%= f.input :name %>
    <div class="text-center">
      <h4 class="text-center">Daily-Plan's nutrition</h4>
      <div class="meal-nutritionfacts border-0" data-action="trigger-nutrition-update@window->live-update-nutritions#update">
        <%= render "nutrition_circles" %>
      </div>
    </div>
    <div data-adding-delete-section-to-daily-plan-target="form">
      <%= f.fields_for :daily_plan_meals do |meal| %>
        <p>Breakfast</p>
        <div data-controller="select-meal-for-daily-meal">
          <%= render "meals_sidescroll_show", meals: @meals %>
          <%= meal.input :meal_id, input_html: {value: "", data: { select_meal_for_daily_meal_target: "input" }}, as: :hidden %>
          <%= meal.input :meal_type, input_html: {value: "Breakfast"}, as: :hidden %>
        </div>
      <% end %>
      <%= f.fields_for :daily_plan_meals do |meal| %>
        <p>Lunch</p>
        <div data-controller="select-meal-for-daily-meal">
          <%= render "meals_sidescroll_show", meals: @meals %>
          <%= meal.input :meal_id, input_html: {value: "", data: { select_meal_for_daily_meal_target: "input" }}, as: :hidden %>
          <%= meal.input :meal_type, input_html: {value: "Lunch"}, as: :hidden %>
        </div>
      <% end %>
      <%= f.fields_for :daily_plan_meals do |meal| %>
        <p>Dinner</p>
        <div data-controller="select-meal-for-daily-meal">
          <%= render "meals_sidescroll_show", meals: @meals %>
          <%= meal.input :meal_id, input_html: {value: "", data: { select_meal_for_daily_meal_target: "input" }}, as: :hidden %>
          <%= meal.input :meal_type, input_html: {value: "Dinner"}, as: :hidden %>
        </div>
      <% end %>
    </div>
    <button
      data-action="click->adding-delete-section-to-daily-plan#addSection">
      Add Snack
    </button>
    <template id="template">
      <%= render "meal_select_fields", f: f, meals: @meals %>
    </template>

  <%= f.submit %>
  <% end %>
</div>


<%# data-adding-delete-section-to-daily-plan-target="form" %>
<%# , data: {adding_delete_section_to_daily_plan_target: "form"} %>
