<%= simple_form_for(@daily_plan) do |f| %>
<%= f.input :name %>
  <%= f.fields_for :daily_plan_meals do |meal| %>
    <p>Breakfast</p>
    <div data-controller="select-meal-for-daily-meal">
      <%= render "meals_sidescroll_show", meals: @meals %>
      <%= meal.input :meal_id, input_html: {value: "3"}, as: :hidden %>
      <%= meal.input :meal_type, input_html: {value: "Breakfast"}, as: :hidden %>
    </div>
  <% end %>
  <%= render "meal_select_fields", f: f, meals: @meals %>
<%= f.submit %>
<% end %>
