<%= simple_form_for(@ingredient) do |f| %>
  <%= f.input :name, label: "Ingredient name", input_html: {class: "standard-input"} %>
  <%= f.input :calories, label: "Calories (kCal)", input_html: {class: "standard-input"} %>
  <%= f.input :fats, label: "Fats (g/100g)", input_html: {class: "standard-input"} %>
  <%= f.input :satu_fats, label: "Saturated Fats (g/100g)", input_html: {class: "standard-input"} %>
  <%= f.input :carbs, label: "Carbohydrates (g/100g)", input_html: {class: "standard-input"} %>
  <%= f.input :protein, label: "Proteins (g/100g)", input_html: {class: "standard-input"} %>
  <div class="button-flex-seperator">
    <%= link_to :back, class: 'button-rounded-green' do %>
      <i class="fa-solid fa-arrow-left" style="color: #ffffff;"></i>
    <% end %>
    <button type="submit" class="d-flex button-standard" style="float: right">
      <span class="button-text-space">Save</span>
      <i class="fa-regular fa-floppy-disk" style="font-size: x-large; color: #ffffff;"></i>
    </button>
  </div>
<% end %>
