
<h2 class="mt-1 text-center">Ingredients</h2>
<div data-controller="search-element">
  <%# Search form %>
  <div>
    <div class="col-sm-8 mb-3">
      <%= form_with url: ingredients_path, method: :get, class: "search-form d-flex justify-content-between", data: {
        search_element_target: "form",
        action: "keyup->search-element#update"
      } do %>
        <%= text_field_tag :query,
              params[:query],
              class: "standard-input flex-grow-1",
              data: { search_element_target: "input" },
              placeholder: "Type a keyword"
          %>
        <%= button_tag class: "button-rounded-green" do %>
          <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
        <% end %>
      <% end %>
    </div>
  </div>

  <%# Ingredients list %>
  <%= render "ingredients_list", ingredients: @ingredients %>
  <%# <= link_to new_ingredient_path, class: "button-rounded-green" do >
    <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
  < end > %>
</div>
<%= link_to new_ingredient_path, class: "button-rounded-green sticky-button" do %>
  <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
<% end %>

<div class="alert alert-warning alert-dismissible fade show m-1" role="alert">
    Alert
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>

<div class="alert alert-info alert-dismissible fade show m-1" role="alert">
  Notice text
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
  </button>
</div>
