<h1>Your intake of today:</h1>

<%# Intakes %>
<div class="standard-card">
  <div id="user-nutritionfacts">

    <div class="circle-and-number-container">
      <div class="pie animate" style="--p:70;--c:#8CB369;">9999</div>
      <p class="nutrition-data"><%= current_user.user_calories %> Cal.</p>
    </div>

<div class="circle-and-number-container">
      <div class="pie animate" style="--p:70;--c:#8CB369;">9999</div>
      <p class="nutrition-data"><%= current_user.user_calories %> Cal.</p>
    </div>
<div class="circle-and-number-container">
      <div class="pie animate" style="--p:70;--c:#8CB369;">9999</div>
      <p class="nutrition-data"><%= current_user.user_calories %> Cal.</p>
    </div>
<div class="circle-and-number-container">
      <div class="pie animate" style="--p:70;--c:#8CB369;">9999</div>
      <p class="nutrition-data"><%= current_user.user_calories %> Cal.</p>
    </div>
<div class="circle-and-number-container">
      <div class="pie animate" style="--p:70;--c:#8CB369;">9999</div>
      <p class="nutrition-data"><%= current_user.user_calories %> Cal.</p>
    </div>
    </div>
</div>

<%# Next Meal %>
<div class="standard-card">
  Meal
</div>

<%# Calendar %>
<div class="standard-card">
  <%= week_calendar(number_of_weeks: 2) do |date| %>
    <%= date %>
  <% end %>
</div>

<%# Weight history %>
<div class="standard-card">
  <div id="user-weights">
    <h6>Weight History</h6>
    <%= line_chart WeightHistory.group_by_day(:created_at, range: 1.weeks.ago..Time.now, expand_range: true, current: false).count(:weight) %>
  </div>
</div>
