<h2 class="mt-2">Your intake of today:</h2>

<%# Intakes %>
<div class="standard-card">
  <div id="user-nutritionfacts">
    <div class="circle-and-number-container">
      <p class="nutrition-data">Max.</p>
      <div class="pie animate" style="--p:<%= current_user.percentage_calculation(current_user.user_calories.to_i, 1000) %>;--c:#8CB369;"><%= current_user.user_calories %></div>
      <p class="nutrition-data">Cal.</p>
    </div>

    <div class="circle-and-number-container">
      <p class="nutrition-data">Min.</p>
      <div class="pie animate" style="--p:80;--c:#F4E285;"><%= current_user.min_user_fats %></div>
      <p class="nutrition-data">Fat.</p>
    </div>

    <div class="circle-and-number-container">
      <p class="nutrition-data">Max.</p>
      <div class="pie animate" style="--p:67;--c:#F4A259;"><%= current_user.max_user_satu_fats %></div>
      <p class="nutrition-data">Satu-F.</p>
    </div>

    <div class="circle-and-number-container">
      <p class="nutrition-data">Max.</p>
      <div class="pie animate" style="--p:67;--c:#5B8E7D;"><%= current_user.max_user_carbs %></div>
      <p class="nutrition-data">Carbs.</p>
    </div>

    <div class="circle-and-number-container">
      <p class="nutrition-data">Min.</p>
      <div class="pie animate" style="--p:67;--c:#BC4B51;"><%= current_user.min_user_protein %></div>
      <p class="nutrition-data">Prot.</p>
    </div>
  </div>
</div>

<%# Next Meal %>
<div class="standard-card">
  <div class="daily-plan-card">
    <% if @updated_planning.empty? %>
      <h4 class="text-center py-3 m-0">No meals left for today!</h4>
    <% else %>
      <% daily_plan = @updated_planning.first.daily_plan %>
      <% next_meal = daily_plan.daily_plan_meals %>
      <% if next_meal.nil? %>
        <h3 class="text-center py-3">No meals left for today!</h3>
      <% else %>

        <div id="carouselExampleIndicators" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="info">
                <div class="info-text">
                  <p>You have <%= link_to(next_meal.first.meal.name, meal_path(daily_plan.meals[0].id)) %> for <%= next_meal[0].meal_type %>, enjoy!</p>
                </div>
                <div class="img">
                  <% if next_meal.first.meal.photo.attached? %>
                    <%= cl_image_tag next_meal[0].photo.key, width: 150, height: 150, crop: :thumb, gravity: :face %>
                  <% else %>
                    <img src="/assets/default_recipe-6e8c69c30f0c2cfebfab9f9d5eaa2e65dfe3ac875a9b265803fd6c5a088f2d60.png" alt="">
                  <% end %>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="info">
                <div class="info-text">
                  <p>You have <%= link_to(next_meal.first.meal.name, meal_path(daily_plan.meals[1].id)) %> for <%= next_meal[1].meal_type %>, enjoy!</p>
                </div>
                <div class="img">
                  <% if next_meal.first.meal.photo.attached? %>
                    <%= cl_image_tag next_meal[1].photo.key, width: 150, height: 150, crop: :thumb, gravity: :face %>
                  <% else %>
                    <img src="/assets/default_recipe-6e8c69c30f0c2cfebfab9f9d5eaa2e65dfe3ac875a9b265803fd6c5a088f2d60.png" alt="">
                  <% end %>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="info">
                <div class="info-text">
                  <p>You have <%= link_to(next_meal.first.meal.name, meal_path(daily_plan.meals[2].id)) %> for <%= next_meal[2].meal_type %>, enjoy!</p>
                </div>
                <div class="img">
                  <% if next_meal.first.meal.photo.attached? %>
                    <%= cl_image_tag next_meal[2].photo.key, width: 150, height: 150, crop: :thumb, gravity: :face %>
                  <% else %>
                    <img src="/assets/default_recipe-6e8c69c30f0c2cfebfab9f9d5eaa2e65dfe3ac875a9b265803fd6c5a088f2d60.png" alt="">
                  <% end %>
                </div>
              </div>

            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

      <% end %>
    <% end %>
  </div>
</div>


<%# Calendar %>
<div class="standard-card">
  <%= render "week_calendar_displayed", planning: @planning, weeks: 1 %>
</div>

<%# Weight history %>
<div class="standard-card">
  <div id="user-weights">
    <h6>Weight History (kg)</h6>
    <%# Change Weight %>
    <% time = Time.now.beginning_of_day %>
    <% range = time..Time.now %>
    <% if WeightHistory.where(created_at: range, user: current_user).any? == false %>
      <%= simple_form_for(@weight_history) do |f| %>
      <div class="d-flex justify-content-center align-center mt-3">
        <div class="log-weight">
          <%= f.input :weight, input_html: {class: "standard-input"}, label: false %>
          <%= f.submit "Log weight", class: "button-standard mb-3" %>
        </div>
      </div>
      <% end %>
    <% end %>
    <% user_weights = WeightHistory.where(user: current_user) %>
    <% weights_by_date = user_weights.group_by_day(:created_at, range: 10.days.ago..Time.now, current: true).average(:weight).compact %>
    <%= line_chart weights_by_date, min: (WeightHistory.minimum(:weight) - 3), max: (WeightHistory.maximum(:weight) + 3), colors: ['#5B8E7D'] %>
  </div>
</div>
