<%= simple_form_for(meal) do |f| %>
  <div data-controller="create-meal-form">
    <div class="d-flex justify-content-between mb-3">
      <%= link_to(meal_path(@meal), data: {turbo_method: :delete}, class: 'button-rounded-red') do %>
        <i class="fa-regular fa-trash-can" style="color: #ffffff;"></i>
      <% end %>
      <%= f.submit "Save", class: "button-standard" %>
    </div>
    <%= f.input :name, input_html: {class: "standard-input", placeholder: "Name your meal..."}, label: false %>
    <%# Nutritions %>
    <div class="text-center">
      <h4 class="text-center">Meal's nutrition</h4>

      <div class="meal-nutritionfacts border-0">
        <div class="circle-and-number-container" data-controller="update-nutrition-chart" data-action="trigger-nutrition-chart-update@window->update-nutrition-chart#update" data-update-nutrition-chart-user-max-value="<%= current_user.user_calories %>">
          <div class="pie animate" data-update-nutrition-chart-target="nutritionNum" style="--p:0;--c:#8CB369;" data-create-meal-form-target="calloriesnum">0</div>
          <p class="nutrition-data">Cal.</p>
        </div>

        <div class="circle-and-number-container" data-controller="update-nutrition-chart" data-action="trigger-nutrition-chart-update@window->update-nutrition-chart#update" data-update-nutrition-chart-user-max-value="<%= current_user.min_user_fats %>">
          <div class="pie animate" data-update-nutrition-chart-target="nutritionNum" style="--p:0;--c:#F4E285;" data-create-meal-form-target="fatsnum">0</div>
          <p class="nutrition-data">Fat.</p>
        </div>

        <div class="circle-and-number-container" data-controller="update-nutrition-chart" data-action="trigger-nutrition-chart-update@window->update-nutrition-chart#update" data-update-nutrition-chart-user-max-value="<%= current_user.max_user_satu_fats %>">
          <div class="pie animate" data-update-nutrition-chart-target="nutritionNum" style="--p:0;--c:#F4A259;" data-create-meal-form-target="satufatsnum">0</div>
          <p class="nutrition-data">Satu-F.</p>
        </div>

        <div class="circle-and-number-container" data-controller="update-nutrition-chart" data-action="trigger-nutrition-chart-update@window->update-nutrition-chart#update" data-update-nutrition-chart-user-max-value="<%= current_user.max_user_carbs %>">
          <div class="pie animate" data-update-nutrition-chart-target="nutritionNum" style="--p:0;--c:#5B8E7D;" data-create-meal-form-target="carbsnum">0</div>
          <p class="nutrition-data">Carbs.</p>
        </div>

        <div class="circle-and-number-container" data-controller="update-nutrition-chart" data-action="trigger-nutrition-chart-update@window->update-nutrition-chart#update" data-update-nutrition-chart-user-max-value="<%= current_user.min_user_protein %>">
          <div class="pie animate" data-update-nutrition-chart-target="nutritionNum" style="--p:0;--c:#BC4B51;" data-create-meal-form-target="proteinnum">0</div>
          <p class="nutrition-data">Prot.</p>
        </div>
      </div>

      <%# Picture input %>
      <label for="images" class="drop-container" id="dropcontainer">
        <div class="text-center picture-preview mb-3">
          <%# Meal image %>
          <% if meal.photo.key %>
              <%= cl_image_tag meal.photo.key.to_s, style: "width: 100px; height: 100px; object-fit: cover" %>
          <% end %>
        </div>
        <i class="fa-regular fa-images"></i>
        <span class="drop-title">
          <% if meal.photo.key %>
            Edit picture
          <% else %>
            Add picture
          <% end %>
        </span>
        <div style="margin-bottom: -30px">
          <%= f.input :photo, as: :file, label: false, input_html: {id: "images", data: {action: "change->meal-create-search#image"}} %>
        </div>
      </label>
    </div>
    <%= f.input :comment, as: :text, wrapper_html: { class: 'mt-2' } %>
    <%# Meal Ingredients list %>
    <h5 class="text-center mb-0 mt-5">Ingredients</h5>
    <div data-create-meal-form-target="list" class="meal-ingredients">
      <% meal.meal_ingredients.each do |meal_ingredient| %>
        <%= f.simple_fields_for :meal_ingredients, meal_ingredient, include_id: false do |meal_ingredient_f| %>
          <div>
            <div
              data-create-meal-form-target="card"
              data-action="click->create-meal-form#delete"
              data-callories="<%= meal_ingredient.ingredient.calories %>"
              data-fats="<%= meal_ingredient.ingredient.fats %>"
              data-satufats="<%= meal_ingredient.ingredient.satu_fats %>"
              data-carbs="<%= meal_ingredient.ingredient.carbs %>"
              data-protein="<%= meal_ingredient.ingredient.protein %>"
              class="ingredient-card standard-card d-flex justify-content-between align-items-center p-3 my-3">

              <div class="d-flex align-items-center ingredient-name justify-content-start">
                <i class="fa-solid fa-trash"></i>
                <h2 class="mx-2 mb-0"><%= meal_ingredient.ingredient.name %></h2>
              </div>

              <div class="mx-2 input-small">
                <%= meal_ingredient_f.input :ingredient_id, input_html: {value: meal_ingredient.ingredient_id}, as: :hidden %>

                <%= meal_ingredient_f.input :amount,
                  label: false, placeholder: "Amount(g)",
                  error: false,
                  input_html: {class: "standard-input amount", value: meal_ingredient.amount, data: {create_meal_form_target: "amount", action: "keyup->create-meal-form#calculate"}} %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <%# Ingredient template for adding to simple form %>
    <template>
      <%= f.fields_for :meal_ingredients, MealIngredient.new do |meal_ingredient_f| %>
      <div>
        <div
          data-create-meal-form-target="card"
          data-action="click->create-meal-form#delete"
          data-callories=""
          data-fats=""
          data-satufats=""
          data-carbs=""
          data-protein=""
          class="ingredient-card standard-card d-flex justify-content-between align-items-center p-3 my-3">

          <div class="d-flex align-items-center ingredient-name justify-content-start">
            <i class="fa-solid fa-trash"></i>
            <h2 class="mx-2 mb-0"></h2>
          </div>

          <div class="mx-2 input-small">
            <%= meal_ingredient_f.input :ingredient_id, input_html: {class: "ingredient-id"}, as: :hidden %>

            <%= meal_ingredient_f.input :amount,
              label: false, placeholder: "Amount(g)",
              input_html: {class: "standard-input amount", data: {create_meal_form_target: "amount", action: "keyup->create-meal-form#calculate"}} %>
          </div>
        </div>
      </div>
      <% end %>
    </template>

    <%# Ingredients list %>
    <input type="text" class="standard-input w-100 mt-3" placeholder="Search"
    data-meal-create-search-target="input" data-action="keyup->meal-create-search#search">

    <div data-meal-create-search-target="list" data-create-meal-form-target="ingredientsList" >
      <% current_user.ingredients.each do |ingredient| %>
      <div
        id="ingredient_<%= ingredient.id %>"
        data-callories="<%= ingredient.calories %>"
        data-fats="<%= ingredient.fats %>"
        data-satufats="<%= ingredient.satu_fats %>"
        data-carbs="<%= ingredient.carbs %>"
        data-protein="<%= ingredient.protein %>"
        data-meal-create-search-target="card"
        data-action="click->create-meal-form#insert"
        class="ingredient-card standard-card d-flex justify-content-between align-items-center
        p-3 my-3 <%= "hide-from-ingredient-list" if meal.ingredient_ids.include?(ingredient.id) %>">

        <div class="d-flex align-items-center ingredient-name justify-content-start">
          <h2 class="mx-2 mb-0" data-meal-create-search-target="ingredient"><%= ingredient.name %></h2>
        </div>

        <div class="mx-2 d-flex align-items-center">
          <%# <= meal_ingredient_f.input :ingredient_id, input_html: {value: ingredient.id}, as: :hidden > %>
          <input type="hidden" value="<%= ingredient.id %>" class="ingredient-id">
          <i class="fa-solid fa-plus"
            data-create-meal-form-target="plus"></i>
        </div>
      </div>
      <% end %>
    </div>
  </div>
<% end %>
