<div class="meal-card-button-holder" data-controller="swipe">
  <div class="card-meal standard-card"
    data-action="touchstart->swipe#swipeCard touchend->swipe#stopSwipeCard"
    data-swipe-target="card">
    <%# Meal image %>
    <% if meal.photo.key.nil? %>
      <%= image_tag "default_recipe.png" %>
    <% else %>
      <%= cl_image_tag meal.photo.key.to_s %>
    <% end %>
    <%# <img src="https://www.gutekueche.at/storage/media/recipe/134629/spaghetti-al-pomodoro.jpg" alt=""> %>

    <div class="meal-info">
      <h5><%= meal.name %></h5>
      <p><%= meal.comment %></p>
    </div>
    <div class="meal-nutritionfacts">
      <div class="circle-and-number-container">
        <div class="circle">
          <div class="white-inner-circle"></div>
        </div>
        <p class="nutrition-data"><%= meal.calculate_nutrition("calories") %></p>
      </div>
      <div class="circle-and-number-container">
        <div class="circle">
          <div class="white-inner-circle"></div>
        </div>
        <p class="nutrition-data"><%= meal.calculate_nutrition("fats") %></p>
      </div>
      <div class="circle-and-number-container">
        <div class="circle">
          <div class="white-inner-circle"></div>
        </div>
        <p class="nutrition-data"><%= meal.calculate_nutrition("satu-fats") %></p>
      </div>
      <div class="circle-and-number-container">
        <div class="circle">
          <div class="white-inner-circle"></div>
        </div>
        <p class="nutrition-data"><%= meal.calculate_nutrition("carbs") %></p>
      </div>
      <div class="circle-and-number-container">
        <div class="circle">
          <div class="white-inner-circle"></div>
        </div>
        <p class="nutrition-data"><%= meal.calculate_nutrition("protein") %></p>
      </div>
    </div>
    <%= link_to "Edit", edit_meal_path(meal), class: "edit-button button-standard" %>
  </div>
  <%# <div class="d-flex flex-grow-1 justify-content-center"> %>
  <%= link_to("Delete", meal_path(meal), data: {turbo_method: :delete, swipe_target: 'button'}, class: 'button-delete hidden button-position') %>
</div>
