<div class="meal-card-button-holder" data-controller="swipe">
  <div class="card-meal standard-card"
    data-action="touchstart->swipe#swipeCard touchend->swipe#stopSwipeCard"
    data-swipe-target="card">
    <%# Meal image %>
    <% if meal.photo.key.nil? %>
      <%= image_tag "default_recipe.png" %>
    <% else %>
      <%= cl_image_tag meal.photo.key.to_s %>
    <% end %>
    <%# <img src="https://www.gutekueche.at/storage/media/recipe/134629/spaghetti-al-pomodoro.jpg" alt=""> %>

    <div class="meal-info">
      <h5><%= meal.name %></h5>
      <p><%= meal.comment %></p>
    </div>
    <div class="meal-nutritionfacts">
      <div class="circle-and-number-container">
        <p class="nutrition-data">Cal.</p>
        <div class="pie animate" style="--p:<%= current_user.percentage_calculation(current_user.user_calories.to_i, meal.calculate_nutrition("calories")) %>;--c:#8CB369;"><%= meal.calculate_nutrition("calories") %></div>
      </div>
      <div class="circle-and-number-container">
        <p class="nutrition-data">Fat.</p>
        <div class="pie animate" style="--p:<%= current_user.percentage_calculation(current_user.min_user_fats.to_i, meal.calculate_nutrition("fats")) %>;--c:#F4E285;"><%= meal.calculate_nutrition("fats") %></div>
      </div>
      <div class="circle-and-number-container">
        <p class="nutrition-data">Satu-F.</p>
        <div class="pie animate" style="--p:<%= current_user.percentage_calculation(current_user.max_user_satu_fats.to_i, meal.calculate_nutrition("satu-fats")) %>;--c:#F4A259;"><%= meal.calculate_nutrition("satu-fats") %></div>
      </div>
      <div class="circle-and-number-container">
        <p class="nutrition-data">Carbs.</p>
        <div class="pie animate" style="--p:<%= current_user.percentage_calculation(current_user.max_user_carbs.to_i, meal.calculate_nutrition("carbs")) %>;--c:#5B8E7D;"><%= meal.calculate_nutrition("carbs") %></div>
      </div>
      <div class="circle-and-number-container">
        <p class="nutrition-data">Prot.</p>
        <div class="pie animate" style="--p:<%= current_user.percentage_calculation(current_user.min_user_protein.to_i, meal.calculate_nutrition("protein")) %>;--c:#BC4B51;"><%= meal.calculate_nutrition("protein") %></div>
      </div>
    </div>
    <%= link_to "#", class: "edit-button button-rounded-green" do %>
      <i class="fa-regular fa-pen-to-square" style="color: #ffffff;"></i>
    <% end %>
  </div>
  <%# <div class="d-flex flex-grow-1 justify-content-center"> %>
  <%= link_to("Delete", meal_path(meal), data: {turbo_method: :delete, swipe_target: 'button'}, class: 'button-delete hidden button-position') %>
</div>
