<h2>Meals</h2>
<div data-controller="search-element">
  <div>
    <div class="col-sm-8 my-3">
      <%= form_with url: meals_path, method: :get, class: "search-form d-flex justify-content-between", data: {
        search_element_target: "form",
        action: "keyup->search-element#update"
      } do %>
        <%= text_field_tag :query,
              params[:query],
              class: "standard-input flex-grow-1",
              data: { search_element_target: "input" },
              placeholder: "Type a meal name"
          %>
        <%= button_tag class: "button-rounded-green" do %>
          <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="d-flex mb-2">
    <%= link_to new_meal_path, class: "button-rounded-green" do %>
      <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
    <% end %>
  </div>

  <%= render "meals_list" %>
</div>
