<div class="justify-content-center" data-controller="meal-create-search">
  <%= simple_form_for(@meal) do |f| %>
    <div class="d-flex justify-content-end mb-3">
      <%= f.submit "Save", class: "button-standard" %>
    </div>
    <%= f.input :name, input_html: {class: "standard-input", placeholder: "Name your meal..."}, label: false %>
    <div class="text-center">
      <h4 class="text-center">Meal's nutrition</h4>
      <div class="meal-nutritionfacts border-0">
        <div class="circle-and-number-container">
          <div class="circle">
            <div class="white-inner-circle"></div>
          </div>
          <p class="nutrition-data"><%= @meal.calculate_nutrition("calories") %></p>
        </div>
        <div class="circle-and-number-container">
          <div class="circle">
            <div class="white-inner-circle"></div>
          </div>
          <p class="nutrition-data"><%= @meal.calculate_nutrition("fats") %></p>
        </div>
        <div class="circle-and-number-container">
          <div class="circle">
            <div class="white-inner-circle"></div>
          </div>
          <p class="nutrition-data"><%= @meal.calculate_nutrition("satu-fats") %></p>
        </div>
        <div class="circle-and-number-container">
          <div class="circle">
            <div class="white-inner-circle"></div>
          </div>
          <p class="nutrition-data"><%= @meal.calculate_nutrition("carbs") %></p>
        </div>
        <div class="circle-and-number-container">
          <div class="circle">
            <div class="white-inner-circle"></div>
          </div>
          <p class="nutrition-data"><%= @meal.calculate_nutrition("protein") %></p>
        </div>
      </div>
      <%# Picture input %>
      <div class="text-center picture-preview mb-3">
      </div>
      <label for="images" class="drop-container" id="dropcontainer">
        <i class="fa-regular fa-images"></i>
        <span class="drop-title">Add a picture</span>
        <div style="margin-bottom: -30px">
          <%= f.input :photo, as: :file, label: false, input_html: {id: "images", data: {action: "change->meal-create-search#image"}} %>
        </div>
      </label>
    </div>
    <%= f.input :comment, as: :text, input_html: { cols: 5, rows: 5 }, wrapper_html: { class: 'mt-2' } %>
    <%# Ingredients list %>
    <input type="text" class="standard-input w-100 mt-3" placeholder="Search"
    data-meal-create-search-target="input"
    data-action="keyup->meal-create-search#search">
    <% current_user.ingredients.each do |user_ingredient| %>
      <%= f.fields_for :meal_ingredients do |ingredient| %>
      <div data-meal-create-search-target="list">
        <div
          data-controller="create-meal-form"
          data-action="click->create-meal-form#select click->meal-create-search#sort"
          data-meal-create-search-target="card"
          class="ingredient-card standard-card d-flex justify-content-between align-items-center p-3 my-3">

          <div class="d-flex align-items-center ingredient-name justify-content-start">
            <%= link_to edit_ingredient_path(user_ingredient) do %>
              <i class="fa-regular fa-pen-to-square"></i>
            <% end %>
            <h2 class="mx-2 mb-0" data-meal-create-search-target="ingredient"><%= user_ingredient.name %></h2>
          </div>

          <div class="mx-2 input-small">
            <%= ingredient.input :ingredient_id, input_html: {value: user_ingredient.id}, as: :hidden %>
            <%= ingredient.input :amount,
              label: false, placeholder: "Amount",
              input_html: {class: "standard-input",
              data: {create_meal_form_target: "amount", action: "click->create-meal-form#add keyup->create-meal-form#validate blur->create-meal-form#validate"}} %>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  <% end %>

</div>
