<div class="justify-content-center">
  <%= simple_form_for(@meal) do |f| %>
    <%= f.input :name, input_html: {class: "standard-input", placeholder: "Name your meal..."}, label: false %>
    <div class="text-center">
      <h4 class="text-center">Meal's nutrition</h4>
      <div class="meal-nutritionfacts border-0">
        <div class="circle-and-number-container">
          <div class="circle">
            <div class="white-inner-circle"></div>
          </div>
          <p class="nutrition-data"><%= @meal.calculate_nutrition("calories") %></p>
        </div>
        <div class="circle-and-number-container">
          <div class="circle">
            <div class="white-inner-circle"></div>
          </div>
          <p class="nutrition-data"><%= @meal.calculate_nutrition("fats") %></p>
        </div>
        <div class="circle-and-number-container">
          <div class="circle">
            <div class="white-inner-circle"></div>
          </div>
          <p class="nutrition-data"><%= @meal.calculate_nutrition("satu-fats") %></p>
        </div>
        <div class="circle-and-number-container">
          <div class="circle">
            <div class="white-inner-circle"></div>
          </div>
          <p class="nutrition-data"><%= @meal.calculate_nutrition("carbs") %></p>
        </div>
        <div class="circle-and-number-container">
          <div class="circle">
            <div class="white-inner-circle"></div>
          </div>
          <p class="nutrition-data"><%= @meal.calculate_nutrition("protein") %></p>
        </div>
      </div>
      <%= f.input :photo, as: :file, label: "Add a picture" %>
    </div>
    <%# Ingredients list %>
    <% current_user.ingredients.each do |user_ingredient| %>
    <%= f.fields_for :meal_ingredients do |ingredient| %>
      <div class="row">
        <div class="col-8">
          <%= user_ingredient.name %>
          <%= ingredient.input :ingredient_id, input_html: {value: user_ingredient.id}, as: :hidden %>
          <%= ingredient.input :amount %>
        </div>
      </div>
    <% end %>

    <% end %>
    <%= f.submit "Create Meal" %>
  <% end %>

</div>
