<!DOCTYPE html>
<html>
  <head>
    <title>MyNewMealPlan</title>
    <meta name="viewport"
    content="width=device-width; initial-scale=1; viewport-fit=cover">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'logo_mnmp_favicon.png' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%# Progressive web app %>
    <%= render 'shared/ios_pwa_links' %>
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <script>
      window.navigator.standalone
    </script>
  </head>

  <body>
    <%= render "shared/flashes" %>

    <nav>
      <div>
        <%= link_to root_path do %>
          <%= image_tag "logo_mnmp.png", id: "logo-size" %>
        <% end %>
      </div>

      <div class="user-avatar">
        <div>
        <% if user_signed_in? %>
          <h6><%= current_user.first_name %></h6>
          <p><%= Time.new.strftime("%b %d, %Y") %></p>
        </div>
        <div class="btn-group">
          <button type="button" class="btn-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <%= image_tag "edited-profile-picture.jpg", class: "avatar-large" %>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <!-- Dropdown menu links -->
            <li><%= link_to "Personal Information", edit_user_account_path(current_user, current_user.account) %></li>
            <li><%= link_to "Account Information", edit_user_registration_path %></li>
            <li>
              <%= link_to "Log Out", destroy_user_session_path, data: {turbo_method: :delete } %>
            </li>
          </ul>
        </div>
        <% end %>
      </div>
    </nav>

    <div class="basic-container">
      <%= yield %>
      <% if controller_name == "ingredients" && action_name == 'index' %>
        <%= link_to new_ingredient_path, class: "button-rounded-green sticky-button" do %>
          <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
        <% end %>
      <% end %>

      <% if controller_name == "meals" && action_name == 'index' %>
        <%= link_to new_meal_path, class: "button-rounded-green sticky-button" do %>
          <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
        <% end %>
      <% end %>

      <% if controller_name == "groceries" && action_name == 'index' %>
        <%= link_to groceries_path, data: { turbo_method: :post }, class: "button-rounded-green sticky-button" do %>
          <i class="fa-solid fa-rotate-right" style="color: #ffffff;"></i>
        <% end %>
      <% end %>
    </div>


    <footer>
      <ul>
        <div id="food">
          <li class="menu-item">
            <%= link_to ingredients_path do %>
            <% if controller_name == 'ingredients' %>
              <i class="fa-solid fa-carrot clicked"></i>
            <% else %>
              <i class="fa-solid fa-carrot"></i>
            <% end %>
              <p id="food">Food</p>
            <% end %>
          </li>
        </div>
        <div id="meals">
          <li class="menu-item">
            <%= link_to meals_path do %>

            <% if controller_name == 'meals' %>
              <i class="fa-solid fa-utensils clicked"></i>
            <% else %>
              <i class="fa-solid fa-utensils"></i>
            <% end %>
              <p id="meals">Meals</p>
            <% end %>
          </li>
        </div>
        <div id="dashboard">
          <li class="menu-item">
            <%= link_to root_path do %>
            <% if controller_name == 'pages' && action_name == 'dashboard' %>
              <i class="fa-solid fa-house clicked"></i>
            <% else %>
              <i class="fa-solid fa-house"></i>
            <% end %>
              <p id="dashboard">Home</p>
            <% end %>
          </li>
        </div>
        <div id="plans">
          <li class="menu-item">
            <%= link_to daily_plans_path do %>
            <% if controller_name == 'daily_plans' %>
              <i class="fa-solid fa-calendar-days clicked"></i>
            <% else %>
              <i class="fa-solid fa-calendar-days"></i>
            <% end %>
              <p id="plans">Plans</p>
            <% end %>
          </li>
        </div>
        <div id="groceries">
          <li class="menu-item">
            <%= link_to groceries_path do %>
            <% if controller_name == 'groceries' %>
              <i class="fa-solid fa-basket-shopping clicked"></i>
            <% else %>
              <i class="fa-solid fa-basket-shopping"></i>
            <% end %>
              <p id="groceries">Groceries</p>
            <% end %>
          </li>
        </div>
      </ul>
    </footer>
  </body>
</html>
