<!DOCTYPE html>
<html>
  <head>
    <title>MyNewMealPlan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/flashes" %>

    <nav>
      <div>
        <h6>
          <% if user_signed_in? %>
            <h6><%= current_user.first_name %></h6>
          <% end %>
        </h6>
        <p><%= Time.new.strftime("%b %d, %Y") %><p>
      </div>
      <div>
        <h1>Navbar</h1>
      </div>
      <div>
        <%# button actions %>
      </div>
    </nav>

    <div class="basic-container">
      <%= yield %>
    </div>

    <footer>
      <ul>
        <div>
          <li class="menu-item">
            <%= link_to ingredients_path do %>
            <i class="fa-solid fa-carrot"></i>Food
            <% end %>
          </li>
        </div>
        <div>
          <li class="menu-item">
            <%= link_to meals_path do %>
            <i class="fa-solid fa-utensils"></i>Meals
            <% end %>
          </li>
        </div>
        <div>
          <li class="menu-item">
            <%= link_to meals_path do %>
            <i class="fa-solid fa-house"></i>Home
            <% end %>
          </li>
        </div>
        <div>
          <li class="menu-item">
            <%= link_to "#" do %>
            <i class="fa-solid fa-calendar-days"></i>Plans
            <% end %>
          </li>
        </div>
        <div>
          <li class="menu-item">
            <%= link_to "#" do %>
            <i class="fa-solid fa-basket-shopping"></i>Groceries
            <% end %>
          </li>
        </div>
      </ul>
    </footer>
  </body>
</html>
