<!DOCTYPE html>
<html>
  <head>
    <title>MyNewMealPlan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/flashes" %>

    <nav>
      <div>
        <%= link_to "#" do %>
          <%= image_tag "logo_mnmp.png", id: "logo-size" %>
        <% end %>
      </div>

      <div class="user-avatar">
        <div>
        <% if user_signed_in? %>
          <h6><%= current_user.first_name %></h6>
          <p><%= Time.new.strftime("%b %d, %Y") %></p>
        </div>
        <div>
          <%= link_to edit_user_registration_path do %>
            <%= image_tag "edited-profile-picture.jpg", class: "avatar-large" %>
          <% end %>
        </div>
        <% end %>
      </div>
    </nav>

    <div class="basic-container">
      <%= yield %>
    </div>


    <footer>
      <ul>
        <div>
          <li class="menu-item">
            <%= link_to ingredients_path do %>
            <% if controller_name == 'ingredients' %>
              <i class="fa-solid fa-carrot clicked"></i>
            <% else %>
              <i class="fa-solid fa-carrot"></i>
            <% end %>
            <p>Food</p>
            <% end %>
          </li>
        </div>
        <div>
          <li class="menu-item">
            <%= link_to meals_path do %>

            <% if controller_name == 'meals' %>
              <i class="fa-solid fa-utensils clicked"></i>
            <% else %>
              <i class="fa-solid fa-utensils"></i>
            <% end %>
            <p>Meals</p>
            <% end %>
          </li>
        </div>
        <div>
          <li class="menu-item">
            <%= link_to root_path do %>
            <% if controller_name == 'pages' && action_name == 'dashboard' %>
              <i class="fa-solid fa-house clicked"></i>
            <% else %>
              <i class="fa-solid fa-house"></i>
            <% end %>
            <p>Home</p>
            <% end %>
          </li>
        </div>
        <div>
          <li class="menu-item">
            <%= link_to daily_plans_path do %>
            <% if controller_name == 'daily_plans' %>
              <i class="fa-solid fa-calendar-days clicked"></i>
            <% else %>
              <i class="fa-solid fa-calendar-days"></i>
            <% end %>
            <p>Plans</p>
            <% end %>
          </li>
        </div>
        <div>
          <li class="menu-item">
            <%= link_to groceries_path do %>
            <% if controller_name == 'groceries' %>
              <i class="fa-solid fa-basket-shopping clicked"></i>
            <% else %>
              <i class="fa-solid fa-basket-shopping"></i>
            <% end %>
            <p>Groceries</p>
            <% end %>
          </li>
        </div>
      </ul>
    </footer>
  </body>
</html>
